<h1>Loan Status Prediction</h1>

Credit Risk Models are one of the most successful applications of data science. 
Given a set of information for a user, predict how 'reliable' she is in terms of being financially stable.
These models have raised many discussions concerning privacy, racial profiling etc.

We will be using an anonymized dataset that consists of a list of a bank's users.
You may find the dataset [here](https://www.kaggle.com/zaurbegiev/my-dataset).

Let us first install sklearn and numpy libraries:

In [1]:
!pip install sklearn
!pip install numpy

Requirement already satisfied: sklearn in /Users/skenderi/.conda/envs/dl/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/skenderi/.conda/envs/dl/lib/python3.6/site-packages (from sklearn) (0.22.1)
Requirement already satisfied: numpy>=1.11.0 in /Users/skenderi/.conda/envs/dl/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in /Users/skenderi/.conda/envs/dl/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /Users/skenderi/.local/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy in /Users/skenderi/.conda/envs/dl/lib/python3.6/site-packages (1.18.1)

Now let's import all the required libraries.

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer as Imputer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.svm import SVC
# import warnings
# # warnings.simplefilter(action='ignore', category=FutureWarning)
# # warnings.simplefilter(action='ignore', category=DeprecationWarning)
# warnings.simplefilter(action='ignore', category=ConvergenceWarning)
from warnings import filterwarnings
filterwarnings('ignore')

In [18]:
# Load the data to a pandas dataframe
df = pd.read_csv("credit_train.csv")
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [19]:
def siivoaData(data, slice=1.0):

    # Mikä on muuttuja josta olemme kiinnostuneita?
    # Haluamme tietysti ymmärtää muuttujaa lainan tilanne "Loan staus"
    # Dikotominne muuttuja kuvaa sitä maksetaanko laina takaisin vai ei.

    #Haluammeko poistaa jotain muuttujia?
    poistettavatMuuttujat = ['Loan ID','Customer ID']
    data = data.drop(poistettavatMuuttujat, axis=1)

    #Annetaan keskiarvot puutuville tietopisteille
    sarakkeet =['Current Loan Amount','Credit Score','Annual Income','Years of Credit History',
            'Months since last delinquent','Number of Open Accounts','Number of Credit Problems',
           'Current Credit Balance','Maximum Open Credit','Bankruptcies','Tax Liens']
    muuttujanTäyttäjä = Imputer()
    data[sarakkeet] = muuttujanTäyttäjä.fit_transform(data[sarakkeet])
    data[sarakkeet] = data[sarakkeet].astype(int)

    #Poistetaan vielä NaN rivit
    data=data.dropna()

#     Note:  Select only some of the data for testing purposes!
    if slice > 0 and slice < 1:
        mid_point = int(len(data)*slice)
        data = data.loc[:mid_point]


    #Valitaan muuttuja josta olemme kiinnostuneita ja koodataan se
    y = data['Loan Status']
    new_y = []
    for i in y:
        if i == 'Fully Paid':
            new_y.append(1)
        else:
            new_y.append(0)
    data = data.drop('Loan Status', axis=1)

    # Koodataan kategoriset muuttujat
    data = pd.get_dummies(data)
    #print(data.head())

    # Normalisoidaan data
    # Palautamme myös dataMean ja dataDev arvot jos haluamme syöttää koneelle uusia havaintoja
    dataMean = np.mean(data, axis=0)
    dataDev = np.std(data, axis=0)
    norm_x= (data - dataMean) / dataDev

    x = data.values #muutetaan numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    normMinMax = pd.DataFrame(x_scaled)

    return norm_x, normMinMax, data, new_y, dataMean, dataDev

xNorm, xMinMax, xNoNorm, y, xMean, xDev = siivoaData(df, slice=0.25)

In [20]:
#Check how xNorm, xMinMax and xNoNorm dataframes look like
xNoNorm

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,445412,709,1167493,5214.74,17,34,6,1,228190,416746,...,0,0,0,0,0,0,0,0,0,0
1,262328,1076,1378276,33295.98,21,8,35,0,229976,850784,...,0,0,0,0,0,0,0,0,0,0
2,99999999,741,2231892,29200.53,14,29,18,1,297996,750090,...,0,0,0,0,0,0,0,0,0,0
3,347666,721,806949,8741.90,12,34,9,0,256329,386958,...,0,0,0,0,0,0,0,0,0,0
4,176220,1076,1378276,20639.70,6,34,15,0,253460,427174,...,0,0,0,0,0,0,0,0,0,0
5,206602,7290,896857,16367.74,17,34,6,0,215308,272448,...,0,0,0,0,0,0,0,0,0,0
6,217646,730,1184194,10855.08,19,10,13,1,122170,272052,...,0,0,0,0,0,0,0,0,0,0
7,648714,1076,1378276,14806.13,8,8,15,0,193306,864204,...,0,0,0,0,0,0,0,0,0,0
8,548746,678,2559110,18660.28,22,33,4,0,437171,555038,...,0,0,0,0,0,0,0,0,0,0
9,215952,739,1454735,39277.75,13,34,20,0,669560,1021460,...,0,0,0,0,0,0,0,0,0,0
10,99999999,728,714628,11851.06,16,76,16,0,203965,289784,...,0,0,0,0,0,0,0,0,0,0
11,541970,1076,1378276,23568.55,23,34,23,0,60705,1634468,...,0,0,0,0,0,0,0,0,0,0
12,99999999,740,776188,11578.22,8,25,6,0,134083,220220,...,0,0,0,0,0,0,0,0,0,0
13,99999999,743,1560907,17560.37,13,34,10,1,225549,496474,...,0,0,0,0,0,0,0,0,0,0
14,234124,727,693234,14211.24,24,46,10,1,28291,107052,...,0,0,0,0,0,0,0,0,0,0
15,449020,1076,1378276,18904.81,19,34,8,0,334533,428956,...,0,0,0,0,0,0,0,0,0,0
16,653004,1076,1378276,14537.09,20,34,9,0,302309,413754,...,0,0,0,0,0,0,0,0,0,0
17,666204,723,1821967,17612.24,22,34,15,0,813694,2004618,...,0,0,0,0,0,0,0,0,0,0
18,66396,1076,1378276,9898.81,27,34,23,1,9728,402380,...,0,0,0,0,0,0,0,0,0,0
19,390390,747,1791738,2478.55,22,34,6,0,121182,801812,...,0,0,0,0,0,0,0,0,0,0
20,317108,687,1133274,9632.81,17,53,4,0,60287,126940,...,0,0,0,0,0,0,0,0,0,0
21,128238,750,1354073,13202.15,11,34,7,0,131936,458788,...,0,0,0,0,0,0,0,0,0,0
22,153252,714,1890690,21900.35,15,34,12,0,891594,1081014,...,0,0,0,0,0,0,0,0,0,0
23,91894,724,850383,5860.74,17,34,7,0,95608,230626,...,0,0,0,0,0,0,0,0,0,0
24,244926,704,1249953,6812.26,14,34,6,1,143051,245014,...,0,0,0,0,0,0,0,0,0,0
25,465410,688,1722654,15647.45,22,30,7,0,107559,488356,...,0,0,0,0,0,0,0,0,0,0
26,99999999,724,1029857,13817.18,12,34,6,0,138339,221232,...,0,0,0,0,0,0,0,0,0,0
27,443960,749,1432391,25186.21,14,34,15,0,342475,905344,...,0,0,0,0,0,0,0,0,0,0
28,99999999,746,1749748,19247.19,20,32,17,0,224390,295240,...,0,0,0,0,0,0,0,0,0,0
30,99999999,737,1501912,31039.54,18,34,8,0,229349,469172,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23912,707850,742,5835375,35838.94,24,34,13,0,2456130,6405300,...,0,0,0,0,0,0,0,0,0,0
23914,130834,691,1054633,22762.57,12,34,12,0,627304,738914,...,1,0,0,0,0,0,0,0,0,0
23916,260678,705,844227,4875.59,12,34,11,0,220913,443300,...,0,0,0,0,0,0,0,0,0,0
23917,371272,736,957125,9012.84,35,80,9,0,317547,689854,...,0,0,0,0,0,0,0,0,0,0
23918,129162,746,929651,13704.51,17,71,5,0,58577,356994,...,0,1,0,0,0,0,0,0,0,0
23919,99999999,739,871758,12495.16,16,34,22,0,189962,260304,...,0,0,0,0,0,0,0,0,0,0
23920,777480,735,18033242,68977.22,17,17,22,0,7350321,0,...,0,0,0,0,0,0,0,0,0,0
23921,223850,684,483322,9545.41,8,55,11,0,160474,315480,...,0,1,0,0,0,0,0,0,0,0
23922,39226,732,752856,3557.18,16,34,12,0,130568,156992,...,0,0,0,0,0,1,0,0,0,0
23923,168410,726,969665,2989.84,19,50,5,1,75259,143814,...,0,0,0,0,0,0,0,0,0,0
23924,454982,1076,1378276,27221.68,22,28,14,0,170525,492426,...,0,0,0,0,0,0,0,0,0,0
23925,225236,739,1167132,9609.44,11,34,10,0,66538,407704,...,0,0,0,0,0,0,0,0,0,0
23926,236016,712,767961,17023.05,28,22,13,0,192109,370722,...,0,0,0,0,0,0,0,0,0,0
23927,676170,7040,2058840,40490.52,14,48,25,0,490675,665258,...,0,0,0,0,0,0,0,0,0,0
23928,435226,736,2797294,41959.22,25,34,9,0,682138,1047530,...,0,0,0,0,0,0,0,0,0,0
23929,335126,689,4051845,65167.15,23,34,6,1,509143,625834,...,0,0,0,0,0,1,0,0,0,0
23930,470822,730,2129919,19346.75,13,34,17,0,575529,856548,...,0,0,0,0,0,0,0,0,0,0
23931,303072,1076,1378276,25192.86,15,34,16,0,1126852,19474158,...,0,0,0,0,0,0,0,0,0,0
23932,110704,703,458869,5162.30,9,34,7,0,20482,199254,...,0,0,0,0,0,0,0,0,0,0
23933,761156,740,3770208,35628.42,23,34,13,0,962597,2238148,...,0,0,0,0,0,0,0,0,0,0
23934,330330,706,1027026,6410.41,19,34,26,0,264176,2249148,...,0,0,0,0,0,0,0,0,0,0
23935,112574,1076,1378276,40833.66,25,14,19,1,86982,575476,...,0,0,0,0,0,0,0,0,0,0
23936,330660,723,866229,14509.35,12,34,7,0,182324,251328,...,0,0,0,0,0,0,0,0,0,0
23937,308374,719,968430,20902.09,14,34,7,0,320416,601304,...,0,0,0,0,0,0,0,0,0,0
23938,218702,711,1699911,13443.45,21,26,8,0,281751,474870,...,0,0,0,0,0,0,0,0,0,0
23939,99999999,710,542716,4201.47,23,7,3,0,5301,32802,...,0,0,0,0,0,1,0,0,0,0
23940,201234,1076,1378276,18475.60,18,34,8,0,99161,474430,...,0,0,0,0,0,0,0,0,0,0
23941,223828,707,1720431,7268.83,24,7,11,0,147858,246356,...,0,1,0,0,0,0,0,0,0,0
23943,546260,6630,1000160,12910.31,18,34,10,0,313120,636086,...,0,0,0,0,0,0,0,0,0,0
23944,88924,7260,633650,12039.35,21,36,8,1,86488,215820,...,0,0,0,0,0,0,0,0,0,0

Next we will see how we get different predictive performances by using the raw features vs the two other feature normalization techniques.

In [51]:
cases = []
# Define three cases we will study
for x in [xNorm, xMinMax, xNoNorm]:
    case = {}
    case['x_train'], case['x_test'], case['y_train'], case['y_test'] = train_test_split(x, y, test_size= 0.25, random_state=13)
    cases.append(case)

In [52]:
# Declare the classifiers we will be using
classifiers = [SGDClassifier(), LogisticRegression(), SVC()]

for i, case in enumerate(cases):
    print("Evaluating the models with data from the case #{}".format(i+1))
    for j, clf in enumerate(classifiers):
        #train model with train data
        clf.fit(X=case['x_train'], y=case['y_train'])
        #predict test data
        predictions = clf.predict(X=case['x_test'])
        #calculate the accuracy
        accuracy = accuracy_score(case['y_test'], predictions)

        print("\t Classifier #{} achieved {} accuracy on test data.".format(j+1, accuracy))

Evaluating the models with data from the case #1
	 Classifier #1 achieved 0.821384964242107 accuracy on test data.
	 Classifier #2 achieved 0.8253968253968254 accuracy on test data.
	 Classifier #3 achieved 0.8236525379382522 accuracy on test data.
Evaluating the models with data from the case #2
	 Classifier #1 achieved 0.8250479679051108 accuracy on test data.
	 Classifier #2 achieved 0.8255712541426827 accuracy on test data.
	 Classifier #3 achieved 0.8248735391592534 accuracy on test data.
Evaluating the models with data from the case #3
	 Classifier #1 achieved 0.6493982208267922 accuracy on test data.
	 Classifier #2 achieved 0.8203383917669632 accuracy on test data.
	 Classifier #3 achieved 0.778998778998779 accuracy on test data.

In [54]:
# Implement Cross Validation using Logistic Regression classifier
# Using xMinMax dataframe

clf = LogisticRegression()
# Use all of the data (slice=1.0):
xNorm, xMinMax, xNoNorm, y, xMean, xDev = siivoaData(df, slice=1)
# 5 fold cross validation
scores = cross_val_score(clf, xMinMax, y, verbose=1, cv=5)
print(scores)
print("Accuracy: %0.3f (+/- %0.3f)" % (scores.mean(), scores.std() * 2))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[0.82355398 0.81817707 0.82162247 0.82286609 0.82328374]
Accuracy: 0.822 (+/- 0.004)

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.5s finished